/* html {
	font-size: 14px;
} */
/* body {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;
	font-family: "Lato", sans-serif;
	line-height: 1.6;
	width: clamp(80%, 90%, 1200px);
	margin: 4rem auto;
	color: #333;
} */
.project {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	width: 100%;
	max-width: 60vw;
	/* max-width: clamp(60vw, 70vw, 90vw); */
	margin: auto;
	padding: var(--space-xl) 0 var(--space-xxl);
	/* padding: 4rem;
	border: 1px solid #eee;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
	@media (max-width: 700px) {
		max-width: 90vw;
	}
}

.column {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
.row {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
