/* Lightbox styles */
.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}
.lightbox-img {
	width: auto;
	max-width: 90vw;
	max-height: 80vh;
	box-shadow: 0 0 1.25rem #000;
	border-radius: 0.5rem;
}
.lightbox-close {
	position: absolute;
	top: 2rem;
	right: 2rem;
	color: #fff;
	font-size: 2rem;
	cursor: pointer;
	z-index: 1001;
}
