/* Typography */
/* -------------------- */
/* 14px root values */

/* Responsive Minor Third Typographic Scale */
:root {
	--font-size-base: 1rem; /* 16px */
	--font-size-1: 0.889rem; /* ~14.2px */
	--font-size-2: 1rem; /* 16px */
	--font-size-3: 1.125rem; /* 18px */
	--font-size-4: 1.266rem; /* 20.3px */
	--font-size-5: 1.424rem; /* 22.8px */
	--font-size-6: 1.602rem; /* 25.6px */
	--font-size-7: 1.802rem; /* 28.8px */
	--font-size-8: 2.027rem; /* 32.4px */
}

@media (max-width: 900px) {
	:root {
		--font-size-base: 0.95rem;
		--font-size-1: 0.85rem;
		--font-size-2: 0.95rem;
		--font-size-3: 1.05rem;
		--font-size-4: 1.18rem;
		--font-size-5: 1.33rem;
		--font-size-6: 1.5rem;
		--font-size-7: 1.7rem;
		--font-size-8: 1.9rem;
	}
}

@media (max-width: 700px) {
	:root {
		--font-size-base: 0.9rem;
		--font-size-1: 0.8rem;
		--font-size-2: 0.9rem;
		--font-size-3: 1rem;
		--font-size-4: 1.1rem;
		--font-size-5: 1.25rem;
		--font-size-6: 1.4rem;
		--font-size-7: 1.55rem;
		--font-size-8: 1.7rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	margin: 0;
}

p {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	margin: 0.5em 0;
}

h1 {
	font-size: var(--font-size-8);
}
h2 {
	font-size: var(--font-size-7);
}
h3 {
	font-size: var(--font-size-6);
}
h4 {
	font-size: var(--font-size-5);
}
h5 {
	font-size: var(--font-size-4);
}
h6 {
	font-size: var(--font-size-3);
}
p,
li,
a,
button,
input,
select,
textarea {
	font-size: var(--font-size-base);
}

a,
a:not([href]):not([tabindex]) {
	cursor: pointer;
	font-weight: 600;
	letter-spacing: 0.05em;
	margin: -0.5rem;
	padding: 0.5rem;
	text-underline-position: under;
	width: fit-content;

	&.is-disabled {
		cursor: not-allowed;
		pointer-events: none;
		user-select: none;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		font-weight: inherit;
	}
}

label {
	letter-spacing: 0.03125em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: auto;
}

caption {
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	text-align: start;
}

.ellipsis {
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.underline {
	text-decoration: underline;
}
