.hide {
	display: none !important;
}
.narrow {
	max-width: 70%;
}
.center {
	justify-content: center;
	align-items: center;
	text-align: center;
}
.wrap {
	flex-wrap: wrap;
}
.highlight {
	color: var(--seahawks-neon-green);
	font-weight: 700;
	letter-spacing: 0.05em;
}
