@import "css/resets.css";
@import "css/variables.css";
@import "css/utilities.css";
@import "css/layout.css";
@import "css/typography.css";

#scrollToTopBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed position */
	bottom: 20px; /* Place at the bottom */
	right: 30px; /* Place at the right */
	z-index: 99; /* Ensure it's on top of other content */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #555; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
}

#scrollToTopBtn:hover {
	background-color: #777; /* Darker background on hover */
}
@media screen and (max-width: 600px) {
	#scrollToTopBtn {
		padding: 10px; /* Smaller padding on small screens */
		font-size: 16px; /* Smaller font size on small screens */
	}
}
